<%= form_for(@connection) do |f| %>


	<%= f.collection_radio_buttons(:id, User.all, :id, :username) do |b| %>
	  <span>
		<%= b.radio_button %>
		<%= b.label %>
	  </span>
	  <% end %>
	</div>

	
	<div>
		<%= f.submit %>
	</div>
<% end %>
