<div class="fake_body">
<div class="container">

<%= form_tag login_path, :class => 'form-signin' do %>
	
	<img class="login_logo" src="<%= asset_path( 'homies_logo.png' ) %>" alt="Homies Logo" width="210">

	<% @connections.each do |connection|%>
		<p> 
		  <% user = User.find_by_id(connection.user_id) %>
		  <img src=<%= user.img_url %> width="50" height="50">
		  <%= user.username %>
		  <%= link_to "Delete", delete_connection_path(@id, connection), :class => "grey left_space", method: :delete, data: { confirm: 'Are you sure?' } %> 
		</p>
	<% end %>
<% end %>


</div>
</div>

