<div class="fake_body">
<div class="container">

<%= form_for [@user, @sphere], :html => {:class => 'form-signin signup_form'} do |f|%>

<img class="signup_logo" src="<%= asset_path( 'homies_logo.png' ) %>" alt="Homies Logo" width="210">

<%= f.label :name, class: 'sr-only'%>
<%= f.text_field :name, class: 'form-control', placeholder: "Title of sphere"%>

<%= f.label :description, class: 'sr-only'%>
<%= f.text_field :description, class: 'form-control', placeholder: "What's it about?"%>

<p class="add_homies">Add Homies: </p>
<%= f.collection_check_boxes(:user_ids, @users, :id, :username) do |b| %>
  <% unless current_user.username == b.label[current_user.username]%>
    <span class="col-sm-7">
      <%= b.check_box %>
      <%= b.label %>
    </span>
  <% end %>
<% end %>

<%= f.submit class: 'btn btn-lg btn-primary btn-block' %>

<% end %>

</div>
</div>

