<%= render "navbar" %>

<ul>
<% @spheres.each do |sphere| %>
<li>
<%= link_to sphere.name, user_sphere_expenses_path(sphere_id: sphere.id) %>
<strong>Description:</strong> <%= sphere.description %>
<%= total_expense_amount_sphere(sphere)%>
<%= link_to "Edit", edit_user_sphere_path(id: sphere.id) %>
<%= link_to 'Destroy', user_sphere_path(id: sphere.id), method: :delete, data: { confirm: 'Are you sure?' } %>
</li>
<% end %>
</ul>

<div id="chartContainer" style="height: 300px; width: 100%;">
</div>
<script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      backgroundColor: null,
      axisX:{
          gridThickness:0,
          lineThickness:0
      },
      axisY:{
          gridThickness:0,
          lineThickness:0
      },

       data: [
           {
           type: "stackedBar",
           dataPoints: [
             <% @spheres.each do |sphere| %>
                 { label: "<%= sphere.name %>", y: <%= total_expense_amount_sphere(sphere)%> },
             <% end %>
           ]
         },
       ]
    });

chart.render();
}
</script>
