<%= render "navbar" %>

<div id="roller_spacer">
  <img src="<%= asset_path( 'spacer.png' ) %>">
</div>

<% counter= 0 %>
<% @spheres.each do |sphere| %>

<div class="<%= counter %>-show" style="display:none;">
  <%= link_to sphere.name, user_sphere_expenses_path(sphere_id: sphere.id) %>
</div>


<div class="<%= counter %>" data-name="<%= sphere.name %>" data-description="<%= sphere.description%>" data-createDate="<%= sphere.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%m.%d %H:%M %Y") %>" data-cost="<%= total_expense_amount_sphere(sphere)%>" style="display:none;"></div>
  <% counter += 1 %>
  <% end %>


<div id="chartContainer" style="height: 300px; width: 100%;">
</div>

<footer>
  <div id="footerShow" style="display:none;">
    <div class="row">
      <div class="col-md-4">
        <ul class="left_footer_info">
          <li class="sphere_title"></li>
          <li><span class="left_descriptors">Created: </span><span class="created_date"></span></li>
          <li><span class="left_descriptors">Description: </span><span class="sphere_description"></span></li>
      </div>

      <div class="col-md-4">
          <ul class="large_expense">
            <li><span class="small_dollar">$</span><span class="big_number"></span></li>
            <li class="total_expense">total expenses</li>
          </ul>
      </div>


      <div class="col-md-4 right_buttons">
        <a class="view_button" href="">
        <div class="btn btn-lg btn-primary btn-block">View Sphere</div>
        </a>

        <%= link_to new_user_sphere_path do %>
          <div class="btn btn-lg btn-primary btn-block">Add Sphere</div>
        <% end %>

      </div>

    </div>
  </div>
  </footer>

  <script type="text/javascript">
    function init() {

      CanvasJS.addColorSet("grayShades",
      [
        "#7364AC",
        "#EADD9C",
        "#557EC0",
        "#9F96C1",
        "#E5CD39",
        "#893D97",
        "#A4C9EA",
        "#C092C2",
        "#40489D"
      ]);

      var chart = new CanvasJS.Chart("chartContainer",
      {
        colorSet: "grayShades",
        backgroundColor: null,
        axisX:{
            gridThickness:0,
            lineThickness:0,
            tickLength:0,
            labelFontColor: "#EEEFF0"
        },
        axisY:{
            gridThickness:0,
            lineThickness:0,
            tickLength:0,
            labelFontColor: "#EEEFF0"
        },
         data: [
             {
             type: "stackedBar",
             mouseover: onMouseover,
             click: onClick,
             dataPoints: [
               <% @spheres.each do |sphere| %>
                   { label: "<%= sphere.name %>", y: <%= total_expense_amount_sphere(sphere)%> },
               <% end %>
             ]
           },
         ]
      });

  chart.render();
  }

  function onMouseover(e) {
    var divId = "." + e.dataPoint.x;
    var divShowId = "."+ e.dataPoint.x +"-show a";

    var sphereName = $(divId).attr('data-name');
    var sphereDescription = $(divId).attr('data-description');
    var sphereCreated = $(divId).attr('data-createDate');
    var sphereCost = $(divId).attr('data-cost');
    $('.sphere_title').html(sphereName);
    $('.created_date').html(sphereCreated);
    $('.sphere_description').html(sphereDescription);
    $('.big_number').html(sphereCost);

    var sphereUrl = $(divShowId).attr('href');
    $('.view_button').attr("href", sphereUrl);
    $('#footerShow').show();
  }

  function onClick(e) {
    var divShowId = "."+ e.dataPoint.x +"-show a";
    var sphereUrl = $(divShowId).attr('href');
    window.location = sphereUrl;
  }

  window.onload = init();
  </script>
