<div class="fake_body">
<div class="container">

<%= form_for [@user, @sphere, @expense], :html => {:class => 'form-signin signup_form'}  do |f|%>

<img class="signup_logo" src="<%= asset_path( 'homies_logo.png' ) %>" alt="Homies Logo" width="210">

  <%= f.label :name, class: 'sr-only'%>
  <%= f.text_field :name, class: 'form-control', placeholder: "Expense name"%>

  <%= f.label :cost, class: 'sr-only'%>
  <%= f.text_field :cost, class: 'form-control', placeholder: "Cost"%>

  <%= f.label :notes, class: 'sr-only'%>
  <%= f.text_field :notes, class: 'form-control', placeholder: "Additional notes"%>

<p class="add_homies">Categories: </p>
<%= f.collection_radio_buttons(:category_id, @categories, :id, :name) do |b| %>
  <span class="col-sm-7">
	<%= b.radio_button %>
	<%= b.label %>
  </span>
  <% end %>


<%= f.submit "Add Expense", class: 'btn btn-lg btn-primary btn-block' %>
<% end %>

</div>
</div>