<h1>EXPENSES INDEX</h1>

<%= link_to "Add Expense", new_user_sphere_expense_path %>
<ul>
<% @expenses.each do |expense| %>
<li>
<strong>Name:</strong> <%= expense.name %>
<strong>Cost:</strong> <%= expense.cost %>
<strong>Notes:</strong> <%= expense.notes %>
<strong>Category:</strong> <%= expense.category.name %>

<%= link_to "Edit", edit_expense_path(expense.id) %>
<%= link_to "Delete", expense_path(expense.id), method: :delete, data: { confirm: 'Are you sure?' } %>

</li>
<% end %>
</ul>
<% total_expense_by_category(@id).each do |expense|%>
  <%= expense["sum"] %>
  <%= expense["name"] %> <br>
<% end %>
