<%= render "navbar" %>

<div id="roller_spacer">
  <img src="<%= asset_path( 'spacer.png' ) %>">
</div>

<h1 class="first_chart_header">Homie Expenses</h1>
<div id="chartContainer5" style="height: 300px; width: 100%;">
</div>

<!-- <h1 class="first_chart_header">Category Breakdown</h1>
<div id="chartContainer1" style="height: 300px; width: 80%">
</div> -->

<div class="small_spacer"></div>

<h1 class="first_chart_header">Category Breakdown</h1>
<div id="chartContainer3" style="height: 400px; width: 100%">
</div>

<div class="small_spacer"></div>

<table class="table table-condensed">
  <thead>
   <th>Name</th>
   <th>Cost</th>
   <th>Notes</th>
   <th>Category</th>
   <th>Created at</th>
   <th>Created by</th>
   <th></th>
   <th></th>
  </thead>
  <tbody>


<% @expenses.each do |expense| %>
<tr>
    <td> <%= expense.name %></td>
    <td> <%= expense.cost %></td>
    <td> <%= expense.notes %></td>
    <td> <%= expense.category.name %></td>
    <td> <%= expense.created_at.in_time_zone("Pacific Time (US & Canada)").strftime("%Y-%m-%d %H:%M") %></td>
    <% user = User.find_by_id(expense.user_id) %>

    <td><%= user.username %></td>
  <% if user.id == current_user.id %>
    <td><%= link_to "Edit", edit_expense_path(expense.id) %></td>
    <td><%= link_to "Delete", expense_path(expense.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>
<% end %>
</tbody>
</table>

<div class="spacer">
</div>

<footer style="">
    <div class="row">
      <div class="col-md-4">
        <ul class="left_footer_info">
          <li class="sphere_title"><%= @sphere.name %></li>
          <li><span class="left_descriptors">Ideal Share: </span><span class="created_date"><%= number_to_currency(total_expense_amount_sphere(@sphere) / number_of_user_in_sphere(@id)) %></span></li>
          <li>
            <span class="left_descriptors">Homies: </span><span class="sphere_description">
              <% @connections.each do |connection| %>
                <% user = User.find_by_id(connection.user_id) %>
                <%= user.username %>
                <img src=<%= user.img_url %> width="30" height="30">
              <% end %>
            </span>
          </li>    
          <li class="edit_homie">
          <% if @sphere.owner_id.to_i == current_user.id %>
            <%= link_to "Edit homies", connections_path, :class => "grey"%>
            <%= link_to 'Destroy Sphere', user_sphere_path(id: @sphere.id), method: :delete, :class => "grey", data: { confirm: 'Are you sure?' } %>
          <% end %>
          </li>
      </div>
      <div class="col-md-4">
          <ul class="large_expense">
            <li><span class="small_dollar">$</span><span class="big_number" id="footerCost"><%= total_expense_amount_sphere(@sphere)%></span></li>
            <li class="total_expense" id="footerLabel">total expenses</li>
          </ul>
      </div>
      <div class="total_expense_value" data-amount="<%= total_expense_amount_sphere(@sphere)%>" style="display:none;"></div>
      <div class="total_expense_label" data-label="total expenses"></div>


      <div class="col-md-4 right_buttons">
      <%= link_to new_user_sphere_expense_path do %>
        <div class="btn btn-lg btn-primary btn-block add_expense">Add Expense</div>
      <% end %>
  <% if @sphere.owner_id.to_i == current_user.id %>
      <%= link_to edit_user_sphere_path(id: @sphere.id), :class => "no_underline" do %>
        <div class="btn btn-lg btn-primary btn-block add_expense">Edit Sphere</div>
      <% end %>
  <% end %>

      </div>

    </div>
  </footer>



<script type="text/javascript">
  function init() {

    CanvasJS.addColorSet("colorShades",
    [
      "#7364AC",
      "#EADD9C",
      "#557EC0",
      "#9F96C1",
      "#E5CD39",
      "#893D97",
      "#A4C9EA",
      "#C092C2",
      "#40489D"
    ]);

    var chart1 = new CanvasJS.Chart("chartContainer1",
    {
      colorSet: "colorShades",
      axisX:{
          labelMaxWidth: 60,
          gridThickness:0,
          lineThickness:0,
          tickLength:0,
          labelFontColor: "#EEEFF0",

      },
      axisY:{
          gridThickness:0,
          lineThickness:0,
          tickLength:0,
          labelFontColor: "#EEEFF0",
      },
      backgroundColor: null,
      data: [
      {
        type: "bar",
        mouseover: onMouseoverCat,
        mouseout: onMouseoutCat,
        dataPoints: [
          <% total_expense_by_category(@id).each do |expense|%>
            { y:<%= expense["sum"] %>, label:"<%= expense["name"] %>" },
          <% end %>
        ]
      },
      ]
    });


    var chart3 = new CanvasJS.Chart("chartContainer3",
    	{

        colorSet: "colorShades",
         backgroundColor: null,
         axisX:{
             labelMaxWidth: 60,
             gridThickness:0,
             lineThickness:0,
             tickLength:0,
             labelFontColor: "#EEEFF0",

         },
         axisY:{
             gridThickness:0,
             lineThickness:0,
             tickLength:0,
             labelFontColor: "#EEEFF0",
             indexLabelFontColor: "#EEEFF0"
         },

    		data: [
    		{
    			type: "pie",
          indexLabelLineColor: "#EEEFF0",
          mouseover: onMouseoverCatPie,
          mouseout: onMouseoutCat,
    			dataPoints: [

            <% total_expense_by_category(@id).each do |expense|%>
              { y:<%= expense["sum"] %>, indexLabel:"<%= expense["name"] %>" },
            <% end %>
    			]
    		}
    		]
    	});

var chart5 = new CanvasJS.Chart("chartContainer5",
   {
     colorSet: "colorShades",
      backgroundColor: null,
      toolTip:{
        enabled: true,
        content: "{legendText}: {y}"
      },
      axisX:{
        labelMaxWidth: 100,
          gridThickness:0,
          lineThickness:0,
          tickLength:0,

      },
      axisY:{
          gridThickness:0,
          lineThickness:0,
          tickLength:0,
          labelFontColor: "#EEEFF0",
      },
      data: [

        <% categories_per_sphere(@id).each do |cat|%>
          {
          type: "stackedBar",
          legendText: "<%= cat["name"] %>",

          dataPoints: [

          <% usernames_per_sphere(@id).each do |user|%>
              { label: "<%= user["username"] %>" , y: <%= cat_sum_with_default(@id, cat["id"], user["id"]) %>},
          <% end %>
          ]
        },
        <% end %>

      ]
   });

   function onMouseoverCatPie(e){
     $("#footerCost").text(e.dataPoint.y);
     $("#footerLabel").text(e.dataPoint.indexLabel);

   }
   function onMouseoverCat(e){
     $("#footerCost").text(e.dataPoint.y);
     $("#footerLabel").text(e.dataPoint.label);

   }
   function onMouseoutCat(e){
     var defaultCost = $(".total_expense_value").attr("data-amount");
     var defaultLabel = $(".total_expense_label").attr("data-label");
     $("#footerCost").text(defaultCost);
     $("#footerLabel").text(defaultLabel);

   }

chart5.render();
// chart1.render();
chart3.render();

}
window.onload = init();

</script>

<hr>
