<!DOCTYPE html>
<html>
<head>
  <title>Homies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body>

<% if current_user %>
  <img src=<%=current_user.img_url%> width="150">
  <li><%= link_to "hello, #{current_user.username}", user_path(current_user)%></li>
  <li><%= link_to "Sign Out", logout_path, method: :delete %></li>
  <% end %>

<% flash.each do |key, value| %>
  <% if key == "notice" %>
    <%= content_tag :div, value, class: "text-center alert alert-warning" %>
  <% elsif key == "alert" %>
    <%= content_tag :div, value, class: "text-center alert alert-danger" %>
  <% else %>
    <%= content_tag :div, value, class: "text-center alert alert-success" %>
  <% end %>
<% end %>

<%= yield %>

</body>

</html>
